<!--
  ~ Copyright © 2018 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->

<div ng-controller="DetailReturnsController" class="overflowYonly paddinglr10">
    <div class="animate-switch-container" ng-switch on="page">
        <div ng-switch-when="detail">
            <div class="row mt18 lPad5">
                <div class="col-sm-8 mb10">
                    <span class="h3">
                        Return: {{returns.return_id}}
                    </span>
                    <span class="badge currentstatus"
                          ng-class="{'cancelled': returns.status.status == RETURNS.status.CANCELLED}">{{RETURNS.statusLabel[returns.status.status]}}</span>

                    <span class="suborder h5" ng-if="returns.order_type !=0">
                        ({{resourceBundle['order']}}: <a ng-href="#/orders/detail/{{returns.order_id}}/"
                                                         target="_blank">{{returns.order_id}}</a>)
                    </span>
                    <span class="suborder h5" ng-if="returns.order_type == 0">
                        <span ng-hide="transRelease">({{resourceBundle['transactions.transfer.upper']}}</span>
                        <span ng-show="transRelease">({{resourceBundle['transactions.release.upper']}}</span>
                        : <a ng-href="#/orders/transfers/detail/{{returns.order_id}}/">{{returns.order_id}}</a>)
                    </span>

                    <span class="litetext">
                        {{resourceBundle['createdon']}} {{returns.created_at}} {{resourceBundle['by']}}
                        <a ng-href="#/setup/users/all/details?userId={{returns.created_by.user_id}}" target="_blank">
                            {{returns.created_by.full_name}}</a>
                        , {{resourceBundle['lastupdated']}} {{resourceBundle['on']}} {{returns.updated_at}} {{resourceBundle['by']}}
                        <a ng-href="#/setup/users/all/details?userId={{returns.updated_by.user_id}}" target="_blank">
                            {{returns.updated_by.full_name}}</a>
                    </span>
                </div>
                <div class="col-sm-4">
                    <div class="col-sm-12 paddinglr5 mt5">
                        <div class="pull-right">
                            <span ng-if="returns.source == 1" class="glyphicons glyphicons-display"
                                  uib-tooltip="{{resourceBundle['web']}}" tooltip-append-to-body="true"></span>
                            <span ng-if="returns.source == 2" class="glyphicons glyphicons-iphone"
                                  uib-tooltip="{{resourceBundle['mob']}}" tooltip-append-to-body="true"></span>
                            <span ng-if="returns.source == 3" class="glyphicons glyphicons-cloud-upload"
                                  uib-tooltip="{{resourceBundle['upl']}}" tooltip-append-to-body="true"></span>
                            <span ng-if="returns.source == 4" class="glyphicons glyphicons-sms"
                                  uib-tooltip="{{resourceBundle['sms']}}" tooltip-append-to-body="true"></span>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row mt10">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Status
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-9">
                                <div ng-include="'views/orders/status-indicator.html'"></div>
                                <span class="glyphicons glyphicons-history codegray large"
                                      uib-tooltip="{{displayStatusHistory ? 'Hide' : 'Show'}} status history"
                                      tooltip-append-to-body="true" ng-click="toggleStatusHistory()"></span>
                            </div>
                            <div class="col-sm-3 btn-group" ng-show="!dp.vp">
                                <div class="pull-right">
                                    <span class="lPad5">
                                        <button type="button" ng-show="hasStatus(RETURNS.status.SHIPPED)"
                                                class="btn btn-sm btn-primary"
                                                ng-click="changeStatus(RETURNS.status.SHIPPED)">
                                            {{resourceBundle['ship']}}
                                        </button>
                                        <button type="button" ng-show="hasStatus(RETURNS.status.RECEIVED)"
                                                class="btn btn-sm btn-primary"
                                                ng-click="changeStatus(RETURNS.status.RECEIVED)">
                                            {{resourceBundle['receive']}}
                                        </button>
                                        <button type="button" ng-show="hasStatus(RETURNS.status.CANCELLED)"
                                                class="btn btn-sm btn-primary"
                                                ng-click="changeStatus(RETURNS.status.CANCELLED)">
                                            {{resourceBundle['cancel']}}
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div ng-if="displayStatusHistory">
                                <div class="col-sm-12 pt15">
                                    <div ng-include="'views/orders/status-history.html'"
                                         ng-init="isReturns = true"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{resourceBundle['customer']}}
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p><a class="capitalize"
                                          ng-href="#/setup/entities/detail/{{returns.customer.entity_id}}"
                                          target="_blank">{{returns.customer.entity_name}}</a></p>

                                    <p class="capitalize">{{returns.customer.entity_address}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{resourceBundle['vendor']}}
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p><a class="capitalize" href="#/setup/entities/detail/{{returns.vendor.entity_id}}"
                                          target="_blank">{{returns.vendor.entity_name}}</a></p>

                                    <p class="capitalize">{{returns.vendor.entity_address}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{resourceBundle['tracking.details']}}
                        </div>
                        <div class="panel-body">
                            <div class="row mb10">
                                <div class="col-sm-6 noLRpad">
                                    <label class="col-sm-4 control-label">{{resourceBundle['transporter']}} </label>

                                    <div class="col-sm-6">
                                        <p ng-hide="edit.transporter">
                                            {{returns.tracking_details.transporter ?
                                            returns.tracking_details.transporter : resourceBundle['none'] }}
                                            <a class="ml15"
                                               ng-show="!edit.transporter && !dp.vp && !(returns.status.status == RETURNS.status.CANCELLED) && !(returns.status.status == RETURNS.status.RECEIVED)"
                                               ng-click="toggleEdit('transporter')"
                                               uib-tooltip="{{resourceBundle['edit']}}" tooltip-append-to-body="true">
                                                <span class="glyphicons glyphicons-edit alignBaseLine"></span>
                                            </a>
                                        </p>

                                        <div ng-show="edit.transporter">
                                            <on-demand-editable-text edit-model="returns.tracking_details.transporter"
                                                                     on-ok="updateTrackingDetails('transporter')"
                                                                     on-cancel="toggleEdit('transporter')"
                                                                     set-focus="">
                                            </on-demand-editable-text>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="col-sm-4 control-label">{{resourceBundle['trackingid']}}</label>

                                    <div class="col-sm-6">
                                        <p ng-hide="edit.trackingId">
                                            {{returns.tracking_details.tracking_id ?
                                            returns.tracking_details.tracking_id : resourceBundle['none'] }}
                                            <a class="ml15"
                                               ng-show="!edit.trackingId && !dp.vp && !(returns.status.status == RETURNS.status.CANCELLED) && !(returns.status.status == RETURNS.status.RECEIVED)"
                                               ng-click="toggleEdit('trackingId')"
                                               uib-tooltip="{{resourceBundle['edit']}}" tooltip-append-to-body="true">
                                                <span class="glyphicons glyphicons-edit alignBaseLine"></span>
                                            </a>
                                        </p>

                                        <div ng-show="edit.trackingId">
                                            <on-demand-editable-text edit-model="returns.tracking_details.tracking_id"
                                                                     on-ok="updateTrackingDetails('trackingId')"
                                                                     on-cancel="toggleEdit('trackingId')"
                                                                     set-focus="">
                                            </on-demand-editable-text>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb10">
                                <div class="col-sm-6 noLRpad">
                                    <label class="col-sm-4 control-label">{{resourceBundle['eda']}} </label>

                                    <div class="col-sm-7">
                                        <p class="capitalize" ng-hide="edit.estimatedArrivalDate">
                                            {{returns.tracking_details.estimated_arrival_date_label?
                                            returns.tracking_details.estimated_arrival_date_label:resourceBundle['none']}}
                                            <a class="ml15 alignBaseLine"
                                               ng-show="!edit.estimatedArrivalDate && !dp.vp && !(returns.status.status == RETURNS.status.CANCELLED) && !(returns.status.status == RETURNS.status.RECEIVED)"
                                               ng-click="toggleEdit('estimatedArrivalDate')"
                                               uib-tooltip="{{resourceBundle['edit']}}" tooltip-append-to-body="true">
                                                <span class="glyphicons glyphicons-edit alignBaseLine"></span>
                                            </a>
                                        </p>
                                        <date-picker ng-show="edit.estimatedArrivalDate"
                                                     date-model="returns.tracking_details.ead"
                                                     min-date="today"
                                                     place-holder="{{resourceBundle['eda']}}"></date-picker>
                                        <div ng-show="edit.estimatedArrivalDate" class="mt10">
                                            <button class="btn btn-sm btn-primary"
                                                    ng-click="updateTrackingDetails('estimatedArrivalDate')">
                                                {{resourceBundle['save']}}
                                            </button>
                                            <button class="btn btn-sm btn-default"
                                                    ng-click="toggleEdit('estimatedArrivalDate', true)">
                                                {{resourceBundle['cancel']}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs subnav-tabs">
                        <li ng-class="{ active: subPage == 'consignment'}"><a
                                ng-click="subPage='consignment'">{{resourceBundle['items']}} <span class="badge">{{returns.items ? returns.items.length : 0}}</span></a>
                        </li>
                        <li ng-class="{ active: subPage == 'message'}">
                            <a ng-click="subPage='message'">{{resourceBundle['comments']}} <span class="badge">{{messageCount ? messageCount : 0}}</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
            <div class="col-sm-12">
            <div class="tab-content">
            <div ng-switch="subPage">
                <div ng-switch-when="consignment" class="tab-pane">
                <div class="row">
                <div class="col-sm-12 mt10">
                    <div class="row" ng-hide="editMode">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-sm btn-primary" ng-show="!dp.vp && returns.status.status == RETURNS.status.OPEN"
                                    ng-click="editItems()">
                                {{resourceBundle['edit']}}
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-class="{'col-sm-12': returns.status.status == RETURNS.status.RECEIVED, 'col-sm-8': returns.status.status != RETURNS.status.RECEIVED}" class="mt10">
                            <script type="text/ng-template" id="materialTemplate">
                                <a>
                                    <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
                                    <span class="litetext">
                                        {{$parent.$parent.$parent.resourceBundle['fulfilled']}}: {{match.model.fq}}
                                    </span>
                                </a>
                            </script>
                            <table class="table table-condensed table-hover table-logistimo table-fixed">
                                <tr>
                                    <th class="col-sm-3 text-center">
                                        {{resourceBundle['material']}}
                                    </th>
                                    <th class="col-sm-1 text-center" ng-show="editMode">
                                        {{resourceBundle['fulfilled']}}
                                    </th>
                                    <th class="col-sm-2 text-center" ng-show="editMode">
                                        {{resourceBundle['returned']}}
                                    </th>
                                    <th class="col-sm-3 text-center">
                                        {{resourceBundle['return']}}
                                    </th>
                                    <th class="col-sm-3 text-center" ng-show="returns.status.status == RETURNS.status.RECEIVED">
                                        {{resourceBundle['received']}}
                                    </th>
                                    <th class="col-sm-0-1" ng-show="editMode"></th>
                                </tr>
                                <tbody ng-repeat="item in returnItems" data-ng-switch on="item.additionalRows">
                                <tr>
                                    <td class="col-sm-3 text-left">
                                        <a href="#/setup/materials/all/detail/{{item.material_id}}"
                                           target="_blank">{{item.material_name}}</a>
                                    </td>
                                    <td ng-show="editMode" class="text-center">{{item.fq}}</td>
                                    <td ng-show="editMode" class="text-center">{{item.dispReturnedQuantity}}
                                        <span ng-show="item.requested_return_quantity > 0" class="litetext text-center">
                                            {{item.requested_return_quantity}} {{resourceBundle['pending.returns']}}
                                        </span>
                                    </td>
                                    <td class="text-center" ng-hide="editMode">
                                        {{item.return_quantity}}
                                        <span class="litetext text-center" ng-show="isDef(item.material_status) && isUndef(item.batches)">
                                            {{resourceBundle['inventory.material.status']}}: {{item.material_status}}
                                        </span>
                                        <span class="litetext text-center" ng-show="isDef(item.reason) && isUndef(item.batches)">
                                            {{resourceBundle['reason']}}: {{item.reason}}
                                        </span>
                                        <span ng-show="item.batches && item.batches.length > 0"
                                              class="glyphicons glyphicons-list-alt"
                                              style="vertical-align:middle;"
                                              ng-click="item.showBatches = !item.showBatches">
                                        </span>
                                        <table class="table table-bordered table-order-batch"
                                               ng-if="item.batches && item.batches.length > 0 && item.showBatches"
                                               style="margin-left: auto; margin-right: auto;">
                                            <thead>
                                            <tr style="font-size: x-small;">
                                                <th class="text-center col-sm-4">
                                                    {{resourceBundle['batch']}}
                                                </th>
                                                <th class=" text-center col-sm-3">
                                                    {{resourceBundle['expiry']}}
                                                </th>
                                                <th class=" text-center col-sm-5">
                                                    {{resourceBundle['return.quantity']}}
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="batch in item.batches" style="font-size: xx-small;">
                                                <td class="text-center">{{batch.batch_id}}</td>
                                                <td class="text-center">{{batch.expiry}}</td>
                                                <td class="text-center">
                                                    {{batch.return_quantity}}
                                                    <span class="litetext small-font text-center" ng-show="isDef(batch.material_status)">
                                                        {{resourceBundle['inventory.material.status']}}: {{batch.material_status}}
                                                    </span>
                                                    <span class="litetext small-font text-center" ng-show="isDef(batch.reason)">
                                                        {{resourceBundle['reason']}}: {{batch.reason}}
                                                    </span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td ng-show="editMode" class="text-center">
                                        <div ng-if="isUndef(item.batches) && !item.isBatch">
                                            <input class="form-control" only-digits
                                                   ng-model="item.new_return_quantity"
                                                   id="{{item.material_id}}{{$index}}"
                                                   ng-class="{'red-border':item.invalidPopup}"
                                                   uib-popover="{{item.popupMsg}}"
                                                   popover-trigger="showpopup"
                                                   ng-focus="closePopup(item,$index)"
                                                   autocomplete="off"
                                                   ng-blur="validateQuantityReturn(item,$index)">

                                            <div ng-show="item.displayMeta">
                                                <span class="litetext text-left"
                                                      ng-class="{'required' : statusMandatoryConfig.rosm}"
                                                      ng-show="(!item.tm && isDef(matstatus)) || (item.tm && isDef(tempmatstatus))">
                                                    {{resourceBundle['inventory.material.status']}}
                                                </span>
                                                <select ng-show="isDef(matstatus) && !item.tm"
                                                        ng-model="item.material_status"
                                                        class="form-control"
                                                        ng-class="{'red-border': item.sinvalidPopup}"
                                                        uib-popover="{{item.sPopupMsg}}"
                                                        ng-blur="validateStatusReturn(item, $index)"
                                                        ng-focus="closePopup(item, $index, 's')"
                                                        id="s{{item.material_id}}{{$index}}"
                                                        popover-trigger="showpopup">
                                                    <option ng-repeat="status in matstatus" value="{{status}}">
                                                        {{status|| resourceBundle['select'] + " " + resourceBundle['status.lower']}}
                                                    </option>
                                                </select>
                                                <select ng-show="isDef(tempmatstatus) && item.tm"
                                                        ng-model="item.material_status"
                                                        class="form-control"
                                                        ng-class="{'red-border': item.sinvalidPopup}"
                                                        uib-popover="{{item.sPopupMsg}}"
                                                        ng-blur="validateStatusReturn(item, $index, true)"
                                                        ng-focus="closePopup(item, $index, 'st')"
                                                        id="st{{item.material_id}}{{$index}}"
                                                        popover-trigger="showpopup">
                                                    <option ng-repeat="status in tempmatstatus" value="{{status}}">
                                                        {{status|| resourceBundle['select'] + " " + resourceBundle['status.lower']}}
                                                    </option>
                                                </select>

                                                <div ng-show="item.reasons && item.reasons.length > 1">
                                                    <span class="litetext text-left" ng-class="{'required' : returnOutgoingReasonMandatory}">
                                                        {{resourceBundle['reason']}}
                                                    </span>
                                                    <select class="form-control"
                                                            ng-model="item.reason"
                                                            ng-class="{'red-border': item.rinvalidPopup}"
                                                            uib-popover="{{item.rPopupMsg}}"
                                                            ng-blur="validateReasonReturn(item, $index, true)"
                                                            ng-focus="closePopup(item, $index, 'r')"
                                                            id="r{{item.material_id}}{{$index}}"
                                                            popover-trigger="showpopup">
                                                        <option ng-repeat="reason in item.reasons track by $index"
                                                                value="{{reason}}"
                                                                ng-selected="item.returnReason == reason">
                                                            {{reason || resourceBundle['select'] + ' ' + resourceBundle['reason.lowercase']}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table table-bordered table-order-batch"
                                               ng-if="item.batches && item.batches.length > 0"
                                               style="margin-left: auto; margin-right: auto;">
                                        <thead>
                                        <tr style="font-size: x-small;">
                                            <th class="text-center">
                                                {{resourceBundle['batch']}}
                                            </th>
                                            <th class="text-center">
                                                {{resourceBundle['expiry']}}
                                            </th>
                                            <th class="text-center">
                                                {{resourceBundle['fulfilled']}}
                                            </th>
                                            <th class="text-center">
                                                {{resourceBundle['return.quantity']}}
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="batch in item.batches | orderBy:'batch_id'" style="font-size: xx-small;">
                                            <td class=" text-center">{{batch.batch_id}}</td>
                                            <td class=" text-center">{{batch.expiry}}</td>
                                            <td class=" text-center">{{batch.fq}}</td>
                                            <td class="text-center">
                                                {{batch.return_quantity}}
                                                <span class="litetext small-font text-center" ng-show="isDef(batch.material_status)">
                                                    {{resourceBundle['inventory.material.status']}}: {{batch.material_status}}
                                                </span>
                                                <span class="litetext small-font text-center" ng-show="isDef(batch.reason)">
                                                    {{resourceBundle['reason']}}: {{batch.reason}}
                                                </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                        </table>
                                        <div ng-if="item.isBatch">
                                            <button type="button" class="btn btn-sm btn-primary"
                                                    ng-click="editBatchItems(item)" ng-disabled="item.additionalRows">
                                                {{resourceBundle['batch.enter']}}
                                            </button>
                                        </div>
                                    </td>
                                    <td class="text-center" ng-show="returns.status.status == RETURNS.status.RECEIVED">
                                        {{item.received.received_quantity}}
                                        <span class="litetext text-center" ng-show="isDef(item.received.material_status) && isUndef(item.batches)">
                                            {{resourceBundle['inventory.material.status']}}: {{item.received.material_status}}
                                        </span>
                                        <span ng-show="item.batches && item.batches.length > 0"
                                              class="glyphicons glyphicons-list-alt"
                                              style="vertical-align:middle;"
                                              ng-click="item.showBatches = !item.showBatches">
                                        </span>
                                        <table class="table table-bordered table-order-batch"
                                               ng-if="item.batches && item.batches.length > 0 && item.showBatches"
                                               style="margin-left: auto; margin-right: auto;">
                                            <thead>
                                            <tr style="font-size: x-small;">
                                                <th class=" text-center col-sm-4">
                                                    {{resourceBundle['batch']}}
                                                </th>
                                                <th class=" text-center col-sm-3">
                                                    {{resourceBundle['expiry']}}
                                                </th>
                                                <th class=" text-center col-sm-5">
                                                    {{resourceBundle['received']}} {{resourceBundle['quantity']}}
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="batch in item.batches" style="font-size: xx-small;">
                                                <td class="text-center">{{batch.batch_id}}</td>
                                                <td class="text-center">{{batch.expiry}}</td>
                                                <td class="text-center">
                                                    {{batch.received.received_quantity}}
                                                    <span class="litetext small-font text-center" ng-show="isDef(batch.received.material_status)">
                                                        {{resourceBundle['inventory.material.status']}}: {{batch.received.material_status}}
                                                    </span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td ng-show="editMode">
                                        <span class="glyphicons glyphicons-bin temp dummyLink" ng-hide="item.additionalRows" ng-click="detailDeleteReturnItem($index)"></span>
                                    </td>
                                </tr>
                                <tr data-ng-switch-when="true">
                                    <td colspan=4 class="partialview">
                                        <div ng-include="'views/returns/returns-all-batches-detail.html'"></div>
                                    </td>
                                </tr>
                                </tbody>
                                <tbody>
                                <tr ng-hide="returnItems.length == orderItems.length || !editMode">
                                    <td>
                                        <input type="text"
                                               value="{{newMaterial}}"
                                               typeahead-template-url="materialTemplate"
                                               ng-model="newMaterial"
                                               class="form-control"
                                               placeholder="Type material name to choose"
                                               uib-typeahead="item as item.nm for item in availableReturnItems | filter:{nm:$viewValue} | limitTo:8"
                                               typeahead-editable="false"
                                               autocomplete="off"
                                               typeahead-on-select="detailAddReturnItem($item); newMaterial = ''"
                                               class="form-control"/>
                                    </td>
                                    <td colspan="4"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" ng-show="editMode">
                        <div class="col-sm-8">
                            <div class="pull-right">
                                <button type="button" class="btn btn-sm btn-primary"
                                        ng-click="doEdit()" ng-disabled="editCount || returnItems.length == 0">
                                    {{resourceBundle['update']}}
                                </button>
                                <button type="button" class="btn btn-sm btn-default"
                                        ng-click="cancelEdit()" ng-disabled="editCount">
                                    {{resourceBundle['cancel']}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>
                <div ng-switch-when="message" class="tab-pane">
                    <div ng-include="'views/conversation/messages.html'"
                         ng-init="objId = returns.return_id; objType = 'RETURNS'"></div>
                </div>
            </div>
            </div>
            </div>
            </div>
        </div>
        <div ng-switch-when="receive">
            <div ng-include="'views/returns/returns-receive.html'"></div>
        </div>
    </div>
</div>