<!--
  ~ Copyright © 2017 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->

<div class="box topbox" ng-controller="CreateReturnsController">
    <h3>Create returns for order <a ng-href="#/orders/detail/{{order.id}}/">{{order.id}}</a></h3>
    <hr/>
    <div class="row mt10">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{resourceBundle['customer']}}
                </div>
                <div class="panel-body">
                    <div class="row lPad5 mb5">
                        <div class="col-sm-12">
                            <p><a class="capitalize"
                                  ng-href="#/setup/entities/detail/{{order.eid}}" target="_blank">{{order.enm}}</a></p>
                            <p class="capitalize">{{order.eadd}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{resourceBundle['vendor']}}
                </div>
                <div class="panel-body">
                    <div class="row lPad5 mb5">
                        <div class="col-sm-12">
                            <p><a class="capitalize"
                                  ng-href="#/setup/entities/detail/{{order.vid}}" target="_blank">{{order.vnm}}</a></p>
                            <p class="capitalize">{{order.vadd}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Items
                </div>
                <div class="panel-body">
                    <table class="table table-condensed table-hover table-logistimo">
                        <tr>
                            <th class="col-sm-1 text-center">SI.No.</th>
                            <th class="col-sm-2 ">Material</th>
                            <th class="col-sm-1 text-center">Ordered</th>
                            <th class="col-sm-2 text-center">Fulfilled</th>
                            <th class="col-sm-5 text-center">Return</th>
                        </tr>
                        <tr ng-repeat="item in returnItems">
                            <td class="text-center"><p class="cbx">{{$index + 1}}</p></td>
                            <td>
                                <p class="cbx">
                                    <a href="#/setup/materials/all/detail/{{item.id}}" target="_blank">{{item.nm}}</a>
                                </p>
                            </td>
                            <td class="text-center"><p class="cbx">{{item.q}}</p></td>
                            <td class="text-center">
                                <p class="cbx">{{item.fq}}</p>
                            </td>
                            <td>
                                <div ng-if="isUndef(item.returnBatches)">
                                    <input class="form-control" only-digits ng-model="item.returnQuantity"
                                           id="{{item.id}}{{$index}}"
                                           ng-class="{'red-border':item.invalidPopup}"
                                           uib-popover="{{item.popupMsg}}" popover-trigger="showpopup"
                                           ng-focus="hidePop(item,$index)"
                                           ng-blur="validate(item,$index)">
                                    <div ng-show="item.returnQuantity > 0">
                                                <span class="litetext text-left" ng-class="{'required' : transConfig.rsm}"
                                                      ng-show="(!item.tm && isDef(matstatus)) || (item.tm && isDef(tempmatstatus))">{{resourceBundle['inventory.material.status']}}</span>
                                        <select ng-show="isDef(matstatus) && !item.tm" ng-model="item.returnMaterialStatus" class="form-control"
                                                ng-class="{'red-border': item.sinvalidPopup}"
                                                uib-popover="{{item.sPopupMsg}}"
                                                ng-blur="item.isVisitedStatus = true; validate(item,$index,'cm')"
                                                ng-focus="hidePop(item,$index,'cm')"
                                                id="cm{{item.mId}}{{$index}}"
                                                popover-trigger="showpopup">
                                            <option ng-repeat="status in matstatus" value="{{status}}">{{status|| resourceBundle['pleaseselect']}}
                                            </option>
                                        </select>
                                        <select ng-show="isDef(tempmatstatus) && item.tm" ng-model="item.returnMaterialStatus" class="form-control"
                                                ng-class="{'red-border': item.sinvalidPopup}"
                                                uib-popover="{{item.sPopupMsg}}"
                                                ng-blur="item.isVisitedStatus = true; validate(item,$index,'cmt')"
                                                ng-focus="hidePop(item,$index,'cmt')"
                                                id="cmt{{item.mId}}{{$index}}"
                                                popover-trigger="showpopup">
                                            <option ng-repeat="status in tempmatstatus" value="{{status}}">{{status|| resourceBundle['pleaseselect']}}
                                            </option>
                                        </select>


                                        <div ng-show="item.reasons && item.reasons.length > 0">
                                            <span class="litetext text-left" >{{resourceBundle['reason']}}</span>
                                            <select class="form-control" ng-model="item.returnReason">
                                                <option ng-repeat="reason in item.reasons track by $index" value="{{reason}}" ng-selected="item.returnReason == reason">{{reason || '--' + resourceBundle['select'] + ' ' + resourceBundle['reason'] + '--'}}</option>
                                            </select>
                                        </div>
                                        <p ng-show="showMaterials && (!showReason || (!(material.rsns && material.rsns.length > 0) && !(isUndef(material.rsns) && reasons && reasons.length > 0))) && transaction.materials.length - 1 !== $index" class="text-center cbx">NA</p>
                                    </div>
                                </div>
                                <table class="table table-striped table-nobot-mar table-condensed"
                                       ng-if="item.returnBatches && item.returnBatches.length > 0" style="margin-left: auto; margin-right: auto;">
                                    <thead>
                                    <tr>
                                        <th class=" text-center">{{resourceBundle['batch']}}</th>
                                        <th class=" text-center">{{resourceBundle['expiry']}}</th>
                                        <th class=" text-center">{{resourceBundle['shipped']}}</th>
                                        <th class=" text-center">{{resourceBundle['fulfilled']}}</th>
                                        <th class=" text-center">{{resourceBundle['quantity']}}</th>
                                        <th class=" text-center"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="batch in item.returnBatches" ng-hide="isUndef(batch.fq) || batch.fq == 0">
                                        <td class=" text-center">{{batch.id}}</td>
                                        <td class=" text-center">{{batch.e}}</td>
                                        <td class=" text-center">{{batch.q}}</td>
                                        <td class=" text-center">{{batch.fq}}</td>
                                        <td class=" text-center">
                                            <input class="form-control" only-digits ng-model="batch.returnQuantity"
                                                   id="{{item.id}}{{batch.id}}{{$index}}"
                                                   ng-class="{'red-border':item.invalidPopup}"
                                                   uib-popover="{{batch.popupMsg}}" popover-trigger="showpopup"
                                                   ng-focus="hidePop(batch,$index)"
                                                   ng-blur="validate(batch,$index)">
                                            <div ng-show="batch.returnQuantity > 0">
                                                <span class="litetext text-left" ng-class="{'required' : transConfig.rsm}"
                                                      ng-show="(!item.tm && isDef(matstatus)) || (item.tm && isDef(tempmatstatus))">{{resourceBundle['inventory.material.status']}}</span>
                                                <select ng-show="isDef(matstatus) && !item.tm" ng-model="batch.returnMaterialStatus" class="form-control"
                                                        ng-class="{'red-border': item.sinvalidPopup}"
                                                        uib-popover="{{batch.sPopupMsg}}"
                                                        ng-blur="batch.isVisitedStatus = true; validate(batch,$index,'cm')"
                                                        ng-focus="hidePop(batch,$index,'cm')"
                                                        id="cm{{item.mId}}{{batch.id}}{{$index}}"
                                                        popover-trigger="showpopup">
                                                    <option ng-repeat="status in matstatus" value="{{status}}">{{status|| resourceBundle['pleaseselect']}}
                                                    </option>
                                                </select>
                                                <select ng-show="isDef(tempmatstatus) && item.tm" ng-model="batch.returnMaterialStatus" class="form-control"
                                                        ng-class="{'red-border': item.sinvalidPopup}"
                                                        uib-popover="{{item.sPopupMsg}}"
                                                        ng-blur="item.isVisitedStatus = true; validate(item,$index,'cmt')"
                                                        ng-focus="hidePop(item,$index,'cmt')"
                                                        id="cmt{{item.mId}}{{batch.id}}{{$index}}"
                                                        popover-trigger="showpopup">
                                                    <option ng-repeat="status in tempmatstatus" value="{{status}}">{{status|| resourceBundle['pleaseselect']}}
                                                    </option>
                                                </select>


                                                <div ng-show="item.reasons && item.reasons.length > 0">
                                                    <span class="litetext text-left" >{{resourceBundle['reason']}}</span>
                                                    <select class="form-control" ng-model="batch.returnReason">
                                                        <option ng-repeat="reason in item.reasons track by $index" value="{{reason}}" ng-selected="batch.returnReason == reason">{{reason || '--' + resourceBundle['select'] + ' ' + resourceBundle['reason'] + '--'}}</option>
                                                    </select>
                                                </div>
                                                <p ng-show="showMaterials && (!showReason || (!(material.rsns && material.rsns.length > 0) && !(isUndef(material.rsns) && reasons && reasons.length > 0))) && transaction.materials.length - 1 !== $index" class="text-center cbx">NA</p>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row mt10">
                        <label class="col-sm-2 control-label">Comment </label>
                        <div class="col-sm-5">
                            <textarea class="form-control" rows="4" ng-model="comment"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-12">
                <div class="pull-right">
                    <button type="button" class="btn btn-sm btn-primary" ng-click="create()">{{resourceBundle['submit']}}</button>
                    <button type="button" class="btn btn-sm btn-default" ng-click="cancel()">{{resourceBundle['cancel']}}</button>
                </div>
            </div>
        </div>
    </div>
</div>