<!DOCTYPE html>
<!--
~ Copyright © 2018 Logistimo.
~
~ This file is part of Logistimo.
~
~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
~
~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
~ later version.
~
~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
~ for more details.
~
~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
~ <http://www.gnu.org/licenses/>.
~
~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
~ the commercial license, please contact us at opensource@logistimo.com
-->
<div class="row" ng-controller="BatchDetailReturnsController">
<div class="col-sm-12">
<span class="pull-right">
    <a href="" ng-click="cancel()">
        <span class="glyphicons glyphicons-remove large" uib-tooltip="{{resourceBundle['close']}}"
              tooltip-placement="left"></span>
    </a>
</span>

<div class="panel panel-default">
    <div class="panel-heading">
        <b>{{resourceBundle['batches.of']}} {{item.material_name}} from order {{returns.order_id}}</b>
    </div>
    <div class="panel-body">
    <div class="bizinfo">
        <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped table-condensed table-bordered">
                <thead>
                <tr>
                    <th class="col-sm-3">{{resourceBundle['batchid']}}</th>
                    <th class="col-sm-2">{{resourceBundle['expiry']}} (dd/mm/yyyy)</th>
                    <th class="col-sm-2 text-center">{{resourceBundle['fulfilled']}}</th>
                    <th class="col-sm-2 text-center">{{resourceBundle['returned']}}</th>
                    <th class="col-sm-3 text-center">{{resourceBundle['return']}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="batch in orderReturnBatches">
                    <td><p class="cbx">{{batch.id}}</p></td>
                    <td><p class="cbx text-center">{{batch.e}}</p></td>
                    <td><p class="cbx text-center">{{batch.fq}}</p></td>
                    <td>
                        <p class="cbx text-center noMargin">{{batch.dispReturnedQuantity}}</p>
                        <span ng-show="batch.disp_requested_return_quantity > 0" class="litetext text-center">
                            {{batch.disp_requested_return_quantity}} {{resourceBundle['pending.returns']}}
                        </span>
                    </td>
                    <td>
                        <input class="form-control" only-digits ng-model="batch.new_return_quantity"
                               id="{{item.id}}{{batch.id}}{{$index}}"
                               ng-class="{'red-border':batch.invalidPopup}"
                               uib-popover="{{batch.popupMsg}}" popover-trigger="showpopup"
                               ng-focus="closeBatchPopup(item, batch, $index)"
                               autocomplete="off"
                               ng-blur="validateBatchQuantityReturn(item, batch, $index)">
                        <div ng-show="batch.displayMeta">
                            <span class="litetext text-left" ng-class="{'required' : statusMandatoryConfig.rosm}"
                                  ng-show="(!item.tm && isDef(matstatus)) || (item.tm && isDef(tempmatstatus))">
                                {{resourceBundle['inventory.material.status']}}
                            </span>
                            <select ng-show="isDef(matstatus) && !item.tm" ng-model="batch.material_status" class="form-control"
                                    ng-class="{'red-border': batch.sinvalidPopup}"
                                    uib-popover="{{batch.sPopupMsg}}"
                                    ng-blur="validateBatchStatusReturn(item, batch, $index)"
                                    ng-focus="closeBatchPopup(item, batch, $index,'s')"
                                    id="s{{item.id}}{{batch.id}}{{$index}}"
                                    popover-trigger="showpopup">
                                <option ng-repeat="status in matstatus" value="{{status}}">
                                    {{status|| resourceBundle['select'] + " " + resourceBundle['status.lower']}}
                                </option>
                            </select>
                            <select ng-show="isDef(tempmatstatus) && item.tm" ng-model="batch.material_status" class="form-control"
                                    ng-class="{'red-border': batch.sinvalidPopup}"
                                    uib-popover="{{batch.sPopupMsg}}"
                                    ng-blur="validateBatchStatusReturn(item, batch, $index, true)"
                                    ng-focus="closeBatchPopup(item, batch, $index,'st')"
                                    id="st{{item.id}}{{batch.id}}{{$index}}"
                                    popover-trigger="showpopup">
                                <option ng-repeat="status in tempmatstatus" value="{{status}}">
                                    {{status|| resourceBundle['select'] + " " + resourceBundle['status.lower']}}
                                </option>
                            </select>
                            <div ng-show="item.reasons && item.reasons.length > 1">
                                <span class="litetext text-left" ng-class="{'required' : returnOutgoingReasonMandatory}">
                                    {{resourceBundle['reason']}}
                                </span>
                                <select class="form-control"
                                        ng-model="batch.reason"
                                        ng-class="{'red-border': batch.rinvalidPopup}"
                                        uib-popover="{{batch.rPopupMsg}}"
                                        ng-blur="validateBatchReasonReturn(item, batch, $index)"
                                        ng-focus="closeBatchPopup(item, batch, $index,'r')"
                                        id="r{{item.material_id}}{{batch.id}}{{$index}}"
                                        popover-trigger="showpopup">
                                    <option ng-repeat="reason in item.reasons track by $index" value="{{reason}}"
                                            ng-selected="batch.reason == reason">
                                        {{reason || resourceBundle['select'] + ' ' + resourceBundle['reason.lowercase']}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <button ng-click="save()" class="btn btn-sm btn-primary">{{resourceBundle['save']}}
                    </button>
                    <button ng-click="cancel()" class="btn btn-sm btn-default">
                        {{resourceBundle['cancel']}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
</div>
