<!--
  ~ Copyright © 2017 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->

<div class="box topbox">
    <div class="bizinfo bizinfo-last">
        <div ng-controller="SystemConfigController">
            <form class="form-horizontal" role="form" name="systemConfigForm">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="domain-title-heading marginlr0">
                            <h4>System configuration</h4>
                            <span ng-show="tags.lastUpdated" class="caption pull-right">{{resourceBundle['lastupdated']}} {{resourceBundle['on']}} {{tags.lastUpdated}} {{resourceBundle['by']}}
                                <a href="#/setup/users/all/details?userId={{tags.createdBy}}"
                                   target="_new">{{tags.fn}}</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="bgr">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="title-heading">
                                Configuration
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="litetext mb10">Configuration type</span>

                            <div class="form-group">
                                <div class="col-sm-8">
                                    <select ng-model="configType" class="form-control" name="configType">
                                        <option ng-repeat="cType in configTypes" value="{{cType}}"
                                                ng-selected="cType == configType">{{cType}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="litetext mb10">Configuration</span>

                            <div class="form-group">
                                <div class="col-sm-8">
                                <textarea id="configJson" class="form-control" ng-model="config" name="configJson"
                                          rows="25"></textarea>
                                </div>
                                <div class="col-sm-4">
                                    <div ng-if="configType == 'locations'">
                                        <button class="btn btn-danger" ng-click="updateLocationsMasterData()">Add new locations to Locations
                                            service
                                        </button>
                                        <p>Note: Please save the configuration before triggering request.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt10" ng-if="iSU">
                    <div class="col-sm-4">
                        <button type="button" ng-click="saveConfig()" class="btn btn-primary">
                            {{resourceBundle['save']}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>