<!DOCTYPE html>
<!--
  ~ Copyright © 2017 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Logistimo</title>

    <link rel="stylesheet" href="css/3rdparty/bootstrap.min.css">

    <!-- @if NODE_ENV == 'LOCAL' -->
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/logistimo.css">
    <!-- @endif -->

    <!-- @if NODE_ENV == 'PRODUCTION' || NODE_ENV == 'DEVELOPMENT'  -->
    <!-- @echo cssInc -->
    <!-- @endif -->
    <script src="js/3rdparty/jquery.min.js"></script>
    <script src="js/3rdparty/angular-1.5.11/angular.js"></script>
    <script src="js/3rdparty/angular-1.5.11/angular-animate.js"></script>
    <script src="js/3rdparty/angular-1.5.11/angular-route.js"></script>
    <script src="js/3rdparty/sha512.js"></script>
    <script src="js/password-validator.js"></script>
    <script>

        var checkNotNullEmpty = function (argument) {
            return typeof argument !== 'undefined' && argument != null && argument != "";
        };
        var checkNullEmpty = function (argument) {
            return !checkNotNullEmpty(argument);
        };

        var lgPassword = angular.module('lgPassword', ['ngRoute'])
                .config(function($locationProvider) {
            $locationProvider.html5Mode({
                enabled: true,
                requireBase: false
            });
        });
        lgPassword.controller('passwordRequestController', ['$scope', '$location', '$window', '$sce', 'passwordService',
            function ($scope, $location, $window, $sce, passwordService) {
                $scope.init = function(){
                    $scope.pdr = {npd: "", cpd: ""};
                    if($location.search() != null && $location.search() != ""){
                        var key = $location.search().key;
                        $scope.key = key.substring(0, key.length - 2);
                        $scope.role = key.substring(key.length - 2);
                        $scope.user = $location.search().user;
                    }
                };
                $scope.init();
                $scope.setPassword = function() {
                    $scope.pdr.key = $scope.key;
                    $scope.pdr.uid = $scope.user;
                    passwordService.setPassword($scope.pdr).then(function(data){
                        var response = data.data;
                        if (response.isError) {
                            if(response.ec == 10){
                                $window.location.href = '/v2/password-reset-error.html';
                            }else {
                                $scope.invalid = true;
                                $scope.errorMsg = $sce.trustAsHtml(response.errorMsg);
                            }
                        } else {
                            $scope.successMsg = response.errorMsg;
                            $scope.showLogin = true;
                        }
                    }).catch(function error(error){
                        $window.location.href = '/v2/password-reset-error.html';
                    })
                };
                $scope.validatePassword = function() {
                    var state = validatePassword($scope.pdr.npd, $scope.role, $scope.user);
                    $scope.errorMsg = '';
                    if(state) {
                        $scope.errorMsg = $sce.trustAsHtml(state);
                        $scope.invalid = true;
                    } else {
                        $scope.invalid = false;
                        if($scope.cVisited) {
                            $scope.invalid = $scope.pdr.npd != $scope.pdr.cpd;
                            if ($scope.invalid) {
                                $scope.errorMsg = $sce.trustAsHtml("Password does not match the confirm password");
                            }
                        }
                    }
                };
            }
        ]);

        lgPassword.factory('passwordService', ['$http','$q', function ($http,$q) {
            function fetchP(data, urlStr) {
                return $http({method: 'POST', data: data, url: urlStr});
            }
            function fetch(url) {
                return $http.get(url);
            }
            function getSalt(userId) {
                return fetch("/s2/api/mauth/get-salt/"+userId);
            }
            return {
                setPassword: function(passwordData){
                    return $q(function(resolve, reject) {
                        var data = angular.copy(passwordData);
                        getSalt(data.uid).then(function(saltData){
                            if (checkNullEmpty(data.cpd) || checkNullEmpty(data.npd)) {
                                reject("Password cannot be empty")
                            }
                            data.salt = saltData.data.salt;
                            data.is_enhanced = checkNotNullEmpty(data.salt);
                            if(data.is_enhanced) {
                                data.cpd = hex_sha512(data.salt + data.cpd);
                                data.npd = hex_sha512(data.salt + data.npd);
                            }
                            fetchP(data, '/s2/api/auth/changePassword').then(function (data) {
                                resolve(data);
                            }).catch(function (err) {
                                reject(err);
                            })
                        }).catch(function(err){
                            reject(err);
                        })
                    });
                }
            }
        }]);
    </script>
</head>
<body class="mainbody" ng-app="lgPassword">
<div class="modal fade ng-isolate-scope login-modal-win in" style="z-index: 1050;display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div ng-controller="passwordRequestController">
                <form class="form-horizontal" name="passwordForm" novalidate>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <img class="imagewrapper" src="images/acquia_marina_logo.png">
                            </div>
                        </div>
                    </div>
                    <div class="bgr bgr-login">
                        <div ng-show="!showLogin">
                            <div class="row mt10">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <p class="fc-color-red text-justify" ng-show="invalid" ng-bind-html="errorMsg"></p>
                                </div>
                            </div>
                            <div class="row noMargin"> <!--New Password-->
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="form-group">
                                        <span class="control-label">New password</span>
                                        <input type="password" class="form-control" id="usrPwd" maxlength="18"
                                               name="usrPwd"
                                               ng-model="pdr.npd"
                                               autocomplete="off"
                                               uib-popover-html="password_state" popover-trigger="showpopup"
                                               ng-keyup="visited && validatePassword()"
                                               ng-blur="visited = true; validatePassword()"
                                               placeholder="New password" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="row noMargin"> <!-- Confirm Password -->
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="form-group">
                                        <span class="control-label">Confirm password</span>
                                        <input type="password" class="form-control" id="usrCpwd" maxlength="18"
                                               name="usrCpwd"
                                               ng-model="pdr.cpd"
                                               autocomplete="off"
                                               ng-keyup="visited && cVisited && validatePassword()"
                                               ng-blur="cVisited = true; validatePassword()"
                                               placeholder="Confirm password" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <input type="button" class="btn btn-primary w100"
                                                   ng-click="passwordForm.$valid && !invalid && setPassword()"
                                                   value="Change password">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="showLogin">
                            <div class="row noMargin">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="form-group">
                                        <p class="text-success text-justify" style="color: #008000;font-size: 14px;">{{successMsg}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="form-group">
                                        <div class="col-sm-12 pt10">
                                            <a class="btn btn-primary w100" href="/v2/index.html" target="_blank">Login</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
