<!DOCTYPE html>
<!--
  ~ Copyright © 2017 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->
<!-- @if (NODE_ENV == 'PRODUCTION' || NODE_ENV == 'DEVELOPMENT') && BULLETIN_BOARD == 'BULLETIN_BOARD' -->
<!-- comments:uncomment-block html -->
<!--
        <div class="row widget">
            <div class="col-sm-12">
            <div class="col-sm-6">
                <span class="bulletin-heading" style="position:relative;top:20px;font-family:Lato;text-transform:uppercase;">Bulletin boards</span>
            </div>
            <div class="col-sm-6">
                <img class="imagewrapper pull-right" src="images/evin_logo.png">
            </div>
            </div>
            </div>
        </div>
    -->
<!-- endcomments -->
<!-- @endif -->
<div ng-class="{'view-port-height' : isBulletinBoard, 'tab pane': !isBulletinBoard}">
    <div ng-class="{'box topbox ': !isBulletinBoard, 'box topbox bb-list-bg':isBulletinBoard}">
        <div ng-controller="BulletinBoardsListingController">
            <div ng-show="bulletinBoards.length > 0">
                <div class="row" style="padding-top:20px;">
                    <div class="col-sm-12">
                        <div ng-class="{'col-sm-3 panel panel-default noLRpad bulletin-container-hover bb-panel-bg': hovering, 'col-sm-3 panel panel-default noLRpad bb-panel-bg': !hovering}"
                             ng-mouseenter="hovering=true" ng-mouseleave="hovering=false" ng-focus="hovering=true" ng-blur="hovering=false"
                             ng-repeat="(id, bulletinBoard) in bulletinBoards"  ng-click="viewBulletinBoard(bulletinBoard.bbId)" style="margin-right:20px;transition: all .5s ease-in-out;height:200px;">
                            <div class="panel-body widget">
                                <div class="col-sm-12">
                                    <h1 class="widget-title">{{bulletinBoard.name}}</h1>
                                </div>
                                <hr style="border: 1px solid #d0dada">
                                <div class="col-sm-12">
                                    <div ng-class="{'col-sm-8 noleftpad pt10 widget-sub-title':!isBulletinBoard, 'col-sm-12 noleftpad pt10 widget-sub-title':isBulletinBoard}">{{bulletinBoard.desc}}</div>
                                    <div class="col-sm-4" ng-if="!isBulletinBoard">
                                        <a ng-href="#configuration/bulletin/detail/{{bulletinBoard.bbId}}">
                                            <span class="glyphicon glyphicon-cog large pull-right" title="Configure"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="bulletinBoards.length == 0">
                <div class="row mt18">
                    <div class="col-sm-12">
                        <p class=" alert alert-warning">
                            {{resourceBundle['bulletin.board.nil']}}</p>
                    </div>
                </div>
            </div>
            <!-- @if (NODE_ENV == 'PRODUCTION' || NODE_ENV == 'DEVELOPMENT') && BULLETIN_BOARD == 'BULLETIN_BOARD' -->
            <!-- comments:uncomment-block html -->
            <!--
                    <div class="row mt18">
                        <div class="col-sm-12">
                            <button type="button" ng-click="logoutBulletinBoard()" class="btn btn-sm btn-primary">{{resourceBundle['signout']}}</button>
                        </div>
                    </div>
                -->
            <!-- endcomments -->
            <!-- @endif -->
        </div>
    </div>
</div>