<!--
  ~ Copyright © 2018 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->

<div ng-controller="OrderDetailCtrl" class="overflowYonly paddinglr10">
    <div class="animate-switch-container" ng-switch on="selection">
        <div ng-switch-when="orderDetail">
            <div class="row">
                <div class="col-sm-12 mt18">
                    <div class="row">
                    <div class="col-sm-8 mb10">
                        <span class="h3">
                            <span ng-if="order.oty!=0">{{resourceBundle['order']}}: {{orderId}}</span>
                            <span ng-if="order.oty==0">
                                <span>{{transRelease ? resourceBundle['transactions.release.upper'] : resourceBundle['transactions.transfer.upper']}}</span>
                                : {{orderId}}
                            </span>
                        </span>
                        <span class="badge currentstatus" ng-class="{'cancelled':order.st == ORDER.CANCELLED}">{{order.status}}</span>

                        <div ng-show="order.oty == 0">
                            <span class="lnk"
                                  ng-show="editMetaDataPermission && isUndef(order.transferRefId) && !edit.transferRefId && (order.st == ORDER.PENDING) && order.atv && !transRelease"
                                  ng-class="{'required':oCfg.transfer}">{{resourceBundle['add']}} {{resourceBundle['transfer.reference.id']}} </span>
                            <span class="lnk"
                                  ng-show="editMetaDataPermission && isUndef(order.transferRefId) && !edit.transferRefId && (order.st == ORDER.PENDING) && order.atv && transRelease"
                                  ng-class="{'required':oCfg.transfer}">{{resourceBundle['add']}} {{resourceBundle['release.reference.id'] }} </span>
                            <span class="lnk" ng-show="isDef(order.transferRefId) && !edit.transferRefId">
                                <span ng-class="{'required':oCfg.transfer && order.st == ORDER.PENDING && order.atv}">{{transRelease ? resourceBundle['release.reference.id'] : resourceBundle['transfer.reference.id']}} </span>
                                <span>{{": " + order.transferRefId}}</span>
                            </span>

                            <div class="lnk">
                                <div ng-show="edit.transferRefId" style="width: 30%">
                                    <span class="litetext" ng-class="{'required':oCfg.transfer}">{{transRelease ? resourceBundle['release.reference.id'] : resourceBundle['transfer.reference.id']}}:</span>
                                    <editable-text edit-model="order.tempTransferRefId"
                                                   on-ok="updateRefId(order.tempTransferRefId,'transferRefId')"
                                                   max-length="100"
                                                   on-cancel="toggleEdit('transferRefId')"
                                                   set-focus="">
                                    </editable-text>
                                </div>
                                <a ng-show="!edit.transferRefId && order.st == ORDER.PENDING && order.atv && order.alc && !dp.vp"
                                   uib-tooltip="{{resourceBundle['edit']}}" tooltip-append-to-body="true"
                                   ng-click="editRID('transferRefId')">
                                    <span ng-hide="!editMetaDataPermission"
                                          class="glyphicons glyphicons-edit pt2 ml15"></span>
                                </a>
                            </div>
                        </div>
                        <div ng-hide="order.oty == 0">
                            <span class="lnk"
                                  ng-show="editMetaDataPermission && isUndef(order.purchaseRefId) && !edit.purchaseRefId && (order.st == ORDER.PENDING) && order.atc"
                                  ng-class="{'required':oCfg.purchase && order.atc}">{{resourceBundle['add']}} {{resourceBundle['purchase.reference.id'] }} </span>
                            <span class="lnk" ng-show="isDef(order.purchaseRefId) && !edit.purchaseRefId">
                                <span ng-class="{'required':oCfg.purchase && order.st == ORDER.PENDING && order.atc}">{{resourceBundle['purchase.reference.id']}}</span>
                                <span>{{": " + order.purchaseRefId }} </span>
                            </span>

                            <div class="lnk">
                                <div ng-show="edit.purchaseRefId" style="width: 30%">
                                    <span class="litetext" ng-class="{'required':oCfg.purchase}">{{resourceBundle['purchase.reference.id']}}:</span>
                                    <editable-text edit-model="order.tempPurchaseRefId"
                                                   on-ok="updateRefId(order.tempPurchaseRefId,'purchaseRefId')"
                                                   max-length="100"
                                                   on-cancel="toggleEdit('purchaseRefId')"
                                                   set-focus="">
                                    </editable-text>
                                </div>
                                <a ng-show="!edit.purchaseRefId && order.st == ORDER.PENDING && order.atc && !dp.vp"
                                   uib-tooltip="{{resourceBundle['edit']}}" tooltip-append-to-body="true"
                                   ng-click="editRID('purchaseRefId')">
                                    <span ng-hide="!editMetaDataPermission"
                                          class="glyphicons glyphicons-edit pt2 ml15"></span>
                                </a>
                            </div>
                        </div>
                        <div>
                            <span class="lnk"
                                  ng-show="editMetaDataPermission && isUndef(order.salesRefId) && !edit.salesRefId && (order.st == ORDER.PENDING || order.st == ORDER.CONFIRMED) && order.atv">{{resourceBundle['add']}} {{resourceBundle['sales.reference.id']}} </span>
                            <span class="lnk" ng-show="isDef(order.salesRefId) && !edit.salesRefId">{{resourceBundle['sales.reference.id'] + ": " + order.salesRefId }} </span>
                            <div class="lnk">
                                <div ng-show="edit.salesRefId" style="width: 30%">
                                    <span class="litetext">{{resourceBundle['sales.reference.id']}}:</span>
                                    <editable-text edit-model="order.tempSalesRefId"
                                                   on-ok="updateRefId(order.tempSalesRefId,'salesRefId')"
                                                   max-length="100"
                                                   on-cancel="toggleEdit('salesRefId')"
                                                   set-focus="">
                                    </editable-text>
                                </div>
                                <a ng-show="!edit.salesRefId && (order.st == ORDER.PENDING || order.st == ORDER.CONFIRMED) && order.atv && !dp.vp"
                                   uib-tooltip="{{resourceBundle['edit']}}" tooltip-append-to-body="true"
                                   ng-click="editRID('salesRefId')">
                                    <span ng-hide="!editMetaDataPermission" class="glyphicons glyphicons-edit pt2 ml15"></span>
                                </a>
                            </div>
                        </div>
                        <span class="litetext pt10">
                            {{resourceBundle['createdon']}} {{order.cdt}} {{resourceBundle['by']}}
                            <a ng-href="#/setup/users/all/details?userId={{order.uid}}" target="_blank">{{order.unm}}</a>
                            <span ng-show="isDef(order.udt)">
                                , {{resourceBundle['lastupdated']}} {{resourceBundle['on']}} {{order.udt}} {{resourceBundle['by']}}
                                <a ng-href="#/setup/users/all/details?userId={{order.ubid}}" target="_blank">{{order.uby}}</a>
                            </span>
                        </span>
                    </div>
                    <div class="col-sm-4 pull-right mt10">
                        <a class="pull-right" ng-href="/s2/api/orders/order/{{orderId}}/invoice" target="_new"
                           uib-tooltip="{{resourceBundle['invoice']}}" tooltip-append-to-body="true"><span
                                class="glyphicons glyphicons-print tglyph"></span></a>
                        <div class="col-sm-12 paddinglr5 mt5">
                            <span class="pull-right" ng-hide="order.lt == undefined || order.ln == undefined || (order.lt == 0 && order.ln == 0)">
                                <a ng-click="toggleMap()">
                                    <span class="glyphicons glyphicons-globe lPad5" uib-tooltip="{{resourceBundle['map.view']}}" tooltip-append-to-body="true"></span>
                                </a>
                            </span>

                            <div class="pull-right" >
                            <span ng-if="order.src === 1"  class="glyphicons glyphicons-display" uib-tooltip="{{resourceBundle['web']}}" ></span>
                            <span ng-if="order.src === 2" class="glyphicons glyphicons-iphone" uib-tooltip="{{resourceBundle['mob']}}" ></span>
                            <span ng-if="order.src === 3" class="glyphicons glyphicons-cloud-upload" uib-tooltip="{{resourceBundle['upl']}}"></span>
                            <span ng-if="order.src === 4" class="glyphicons glyphicons-sms" uib-tooltip="{{resourceBundle['sms']}}"></span>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-sm-12">
                    <form class="form-group mb5" role="form" name="updTransForm">
                    <span ng-hide="edit.otags">
                        <div ng-logi-tags tgs="order.tgs" style="border-radius: 10px;"></div>
                        <span ng-show="isUndef(order.tgs) && editMetaDataPermission" class="dinline cbx control-label">{{resourceBundle['orders.add.order.tags']}}</span>
                        <a ng-show="order.st == ORDER.PENDING || order.st == ORDER.CONFIRMED" uib-tooltip="{{resourceBundle['edit']}}" ng-click="editTags()" tooltip-append-to-body="true">
                            <span ng-hide="dp.vp || !editMetaDataPermission" class="ml15 glyphicons glyphicons-edit cbx"></span>
                        </a>
                    </span>
                    <span ng-hide="!edit.otags">
                        <div class="col-sm-5 noleftpad">
                            <tag-select tags-model="oTags.tag" type="'order'"
                                        multiple="'true'"></tag-select>
                        </div>
                        <button class="btn btn-sm btn-primary" ng-click="saveTags(oTags.tag)">
                            {{resourceBundle['save']}}
                        </button>
                        <button class="btn btn-sm btn-default" ng-click="toggleEdit('otags')">
                            {{resourceBundle['cancel']}}
                        </button>
                    </span>
                    </form>
                </div>
            </div>
            <hr/>
            <div class="row mt10" ng-if="dispMap">
                <div class="col-sm-12">
                    <div ng-init=" type = 'c'; dName = order.enm; lt = order.lt; ln = order.ln; lklt = order.elt; lkln = order.eln; mtype = 'o'; accuracy = order.ac;"
                         ng-include="'views/transactions/view-map.html'"></div>
                </div>
            </div>
            <div class="row mt10" ng-repeat="item in order.approvalTypesModels">
                <div class="col-sm-12">
                    <div ng-init="order = order; type = item.type ; id = item.id; count = item.count; typeCount = order.approvalTypesModels.length"
                         ng-include="'views/orders/approval-detail.html'">
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{resourceBundle['status']}}
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-9 mt10 noLRpad">
                                <div ng-if="isDef(order)" ng-include="'views/orders/status-indicator.html'"></div>
                                <span ng-click="toggleStatusHistory()" class="glyphicons glyphicons-history codegray large"  uib-tooltip="{{resourceBundle['orders.show.status.history']}}" ng-if="!dispStatusHistory" tooltip-append-to-body="true"></span>
                                <span ng-click="toggleStatusHistory()" class="glyphicons glyphicons-history codegray large" uib-tooltip="{{resourceBundle['orders.hide.status.history']}}" ng-if="dispStatusHistory" tooltip-append-to-body="true"></span>
                            </div>
                            <div class="col-sm-3 btn-group">
                                <div class="pull-right">
                                    <ul class="nav navbar-nav" ng-hide="dp.vp || edit.mat">
                                        <li>
                                            <button type="button" class="btn btn-sm btn-primary dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                    ng-show="shouldShowStatusChange()">
                                                <span class="glyphicons glyphicons-show-lines medium pt2" uib-tooltip="{{resourceBundle['orders.change.status']}}" tooltip-append-to-body="true"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li ng-repeat="status in statusList" ng-hide="dp.vp">
                                                    <a ng-hide="checkHideStatus(status)" ng-click="changeStatus(status)">{{getLabelFromResourceBundle(ORDERSTATUSTEXT.statusTxt[status])}}</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <span class="lPad5">
                                        <button type="button" ng-show="hasStatus('cm') && shipPermission" class="btn btn-sm btn-primary" ng-click="changeStatus('cm')">{{resourceBundle['ship']}}
                                             </button>
                                          <button type="button" ng-show="hasStatus('fl')" class="btn btn-sm btn-primary" ng-click="changeStatus('fl')">{{resourceBundle['fulfill']}}
                                             </button>
                                    </span>
                                </div>
                            </div>
                            <div ng-if="dispStatusHistory">
                                <div class="row">
                                    <div class="col-sm-12 pt15">
                                        <div ng-include="'views/orders/status-history.html'"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 lPad5 mt10 fc-color-grey"><span class="float-right">{{resourceBundle['order.processingtime']}}: {{order.pt}}, {{resourceBundle['order.deliveryleadtime']}}: {{order.dlt}}</span> </div>
                            <div ng-if="order.drs != null && order.drs.length == 1" class="col-sm-12 pt10">
                                <div class="row mb10 col-sm-6">
                                    <span class="col-sm-1">
                                        <img class="medium-icon" src="images/truck-icon.png">
                                    </span>
                                    <span class="pull-left pt5 ml5">Request for delivery was placed at
                                        {{order.drs[0].cr_on | date:'d/M/yy h:mm a'}}</span>
                                    <div ng-if="!dispDeliveryStatus" class="pt5"
                                         ng-click="toggleDispDeliveryStatus()">
                                        <span class="glyphicons glyphicons-chevron-down small pt2 ml10"></span>
                                    </div>
                                    <div ng-if="dispDeliveryStatus" class="pt5" ng-click="toggleDispDeliveryStatus()">
                                        <span class="glyphicons glyphicons-chevron-up small pt2 ml10"></span>
                                    </div>
                                </div>
                                <div class="row pt5" ng-show="dispDeliveryStatus">
                                    <div ng-include="'views/shipment/shipment-tracking.html'"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div ng-include="'views/orders/cust-vendor.html'"></div>
                </div>
            </div>
            <div class="row">
                <div ng-show="aCfg.ea && !oCfg.dop" class="col-sm-12">
                    <div ng-include="'views/orders/payments.html'"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs subnav-tabs">
                        <li ng-class="{ active: view == 'consignment'}"><a
                                ng-click="view='consignment'">{{resourceBundle['items']}} <span class="badge">{{order.its ? order.its.length : 0}}</span></a>
                        </li>
                        <li ng-class="{ active: view == 'shipment'}"><a
                                ng-click="view='shipment'">{{resourceBundle['shipments']}} <span class="badge">{{shipmentList ? shipmentList.length : 0}}</span></a>
                        </li>
                        <li ng-class="{ active: view == 'returns'}"><a
                                ng-click="view='returns'">{{resourceBundle['returns']}} <span class="badge">{{returnsList ? returnsList.length : 0}}</span></a>
                        </li>
                        <li ng-class="{ active: view == 'message'}">
                            <a ng-click="view='message'">{{resourceBundle['comments']}} <span class="badge">{{messageCnt ? messageCnt : 0}}</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="tab-content">
                        <div ng-switch="view">
                            <div class="tab-pane" ng-switch-when="consignment">
                                <div ng-include="'views/orders/consignment.html'"></div>
                            </div>
                            <div class="tab-pane" ng-switch-when="shipment">
                                <div ng-include="'views/orders/shipments.html'"></div>
                            </div>
                            <div class="tab-pane" ng-switch-when="returns">
                                <div ng-include="'views/orders/returns.html'"></div>
                            </div>
                            <div class="tab-pane" ng-switch-when="message">
                                <div ng-include="'views/conversation/messages.html'"
                                     ng-init="objId = orderId; objType = 'ORDER'"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-switch-when="createShipment">
            <div ng-include="'views/shipment/new-shipment.html'" ng-init="sMatList = sMTShip;"></div>
        </div>
        <div ng-switch-when="fulfilShipment">
            <div ng-include="'views/shipment/fulfil-shipment.html'" ng-init="isOrderFulfil=true"></div>
        </div>
        <div ng-switch-when="createReturns">
            <div ng-include="'views/returns/returns-create.html'"></div>
        </div>
        <div ng-switch-when="createDelReqs">
            <div ng-include="'views/delivery-requests/new-delivery-request.html'"
                 ng-init="drOrderId = orderId; drShipmentId = null;
                    vendor = {name: order.vnm, id: order.vid, addr: order.vadd};
                    cust = {name: order.enm, id: order.eid, addr: order.eadd}"></div>
        </div>

    </div>
</div>