<!--
  ~ Copyright © 2018 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->

<div class="row">
    <div class="col-sm-6 col-sm-offset-3 mb10 mt10">
        <table ng-if="returnsList.length > 0" class="table table-condensed table-hover table-logistimo">
            <tr>
                <th class="text-left">Return Id</th>
                <th class="text-center">{{resourceBundle['status']}}</th>
                <th class="text-center">Created</th>
            </tr>
            <tr ng-repeat="return in returnsList" class="clickable" ng-click="openShipment(return.return_id)">
                <td class="text-left">{{return.return_id}}</td>
                <td class="text-center">{{RETURNS.statusLabel[return.status.status]}}</td>
                <td class="text-center"><a ng-href="#/setup/users/all/details?userId={{return.created_by.user_id}}" target="_blank" ng-click="$event.stopPropagation();">{{return.created_by.full_name}}</a>
                </td>
            </tr>
        </table>
        <span ng-if="returnsList.length == 0" class="col-sm-12 lPad5">
            <p class="alert alert-warning">No returns have been created.</p>
        </span>
    </div>
</div>