<!DOCTYPE html>
<!--
  ~ Copyright © 2018 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->

<div ng-controller="ReturnTransactionCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>Returns for {{mnm}}</b>
        </div>
        <div class="panel-body">
          <div ng-show="material.returnitems.length > 0" class="row">
            <div class="col-sm-12">
            <table class="table table-striped table-codensed ">
              <thead>
              <tr>
                <th class="col-sm-1">{{resourceBundle['serialnum']}}</th>
                <th class="col-sm-2">{{transaction.type == 'ri' ? 'Issue' : 'Receipt'}}</th>
                <th class="col-sm-2">{{resourceBundle['quantity']}}</th>
                <th class="col-sm-2 required">Return quantity</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="returnitem in material.returnitems">
                <td><p class="text-center">{{$index}}</p></td>
                <td><p class="text-center">{{returnitem.type}}</p></td>
                <td><p class="text-center">{{returnitem.q}}</p></td>
                <td><input type="text" class="form-control" maxlength="50" only-digits ng-model="returnitem.rq" ng-class="{'red-border': returnitem.rq > returnitem.q == true}"/>
                  <div ng-show="returnitem.rq > 0" class="mt5">
                    <select ng-hide="material.ts || isUndef(matstatus)" ng-model="returnitem.rmst" class="form-control"
                            ng-class="{'red-border': returnitem.ainvalidPopup}"
                            uib-popover="{{returnitem.aPopupMsg}}"
                            ng-blur="validate(returnitem,$index,material)"
                            id="rmst{returnitem.id}}{{$index}}"
                            popover-trigger="showpopup">
                      <option ng-repeat="stats in matstatus track by $index" value="{{stats}}" ng-selected="returnitem.mst == stats">{{stats || resourceBundle['select'] + " " + resourceBundle['status.lower']}}</option>
                    </select>
                    <select ng-show="material.ts && isDef(tempmatstatus)" ng-model="item.mst" class="form-control"
                            ng-class="{'red-border': returnitem.ainvalidPopup}"
                            uib-popover="{{returnitem.aPopupMsg}}"
                            ng-blur="validate(returnitem,$index,material)"
                            popover-trigger="showpopup">
                      <option ng-repeat="stats in tempmatstatus track by $index" value="{{stats}}" ng-selected="returnitem.mst == stats">{{stats || resourceBundle['select'] + " " + resourceBundle['status.lower']}}</option>
                    </select>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div ng-show="transactions.results.length > 0" class="row">
          <div class="col-sm-12">
            <div class="pull-right pt10">
              <div ng-include="'views/paginator.html'"></div>
            </div>
          </div>
        </div>
        <div ng-show="transactions.results.length > 0" class="row">
          <div class="col-sm-12">
            <table class="table table-striped table-codensed ">
              <thead>
              <tr>
                <th class="col-sm-1">{{resourceBundle['serialnum']}}</th>
                <th class="col-sm-2">{{transaction.type == 'ri' ? 'Issue' : 'Receipt'}}</th>
                <th class="col-sm-2">{{resourceBundle['quantity']}}</th>
                <th class="col-sm-2 required">Return quantity</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="transaction in transactions.results">
                <td><p class="text-center">{{transaction.sno}}</p></td>
                <td><p class="text-center">{{transaction.type}}</p></td>
                <td><p class="text-center">{{transaction.q}}</p></td>
                <td><input type="text" class="form-control" maxlength="12" only-digits ng-model="transaction.rq"
                           ng-class="{'red-border': transaction.rq > transaction.q == true}" id="rq{{transaction.id}}{{$index}}"
                           uib-popover="{{transaction.popupMsg}}"
                           ng-focus="hidePopup(transaction,$index,'rq')"
                           ng-blur="validate(transaction,$index,material)"
                           popover-trigger="showpopup"/>

                    <div ng-show="transaction.rq > 0" class="mt5">
                    <span class="litetext float-left" ng-class="{'required' : msm}" ng-show="(!material.ts && isDef(matstatus)) || (material.ts && isDef(tempmatstatus))">{{resourceBundle['inventory.material.status']}}</span>
                    <select ng-hide="material.ts || isUndef(matstatus)" ng-model="transaction.rmst" class="form-control"
                            ng-class="{'red-border': transaction.ainvalidPopup}"
                            uib-popover="{{transaction.aPopupMsg}}"
                            ng-blur="validate(transaction,$index,material)" id="rmst{transaction.id}}{{$index}}"
                            tabindex="{{$index+100}}"
                            popover-trigger="showpopup">
                      <option ng-repeat="stats in matstatus track by $index" value="{{stats}}">{{stats || resourceBundle['select'] + " " + resourceBundle['status.lower']}}</option>
                    </select>
                    <select ng-show="material.ts && isDef(tempmatstatus)" ng-model="transaction.rmst" class="form-control"
                        ng-class="{'red-border': item.ainvalidPopup}"
                        uib-popover="{{item.aPopupMsg}}"
                        ng-blur="validate(transaction,$index,material)"
                        id="rmst{{transaction.id}}{{$index}}"
                        tabindex="{{$index+100}}"
                        popover-trigger="showpopup">
                        <option ng-repeat="stats in tempmatstatus track by $index" value="{{stats}}">{{stats || resourceBundle['select'] + " " + resourceBundle['status.lower']}}</option>
                    </select>
                    <span class="litetext float-left">{{resourceBundle['reason']}}</span>
                        {{reasons}}
                    <select ng-hide="reasons.length == 0" ng-model="transaction.rrsn" class="form-control">
                        <option ng-repeat="rsn in reasons track by $index" value="{{rsn}}">{{material.reason || resourceBundle['select'] + " " + resourceBundle['reason.lowercase']}}</option>
                    </select>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="pull-right">
              <button ng-click="saveReturnTransactions($index)" class="btn btn-sm btn-primary">{{resourceBundle['save']}}</button>
              <button ng-click="toggle($index);returnFormOpen = false;" class="btn btn-sm btn-default">{{resourceBundle['cancel']}}</button>
            </div>
          </div>
        </div>
        <div ng-show="(transactions.results.length == 0 ) && !loading" class="row">
            <div class="col-sm-12">
              <div>
                <p class=" alert alert-warning mt18">{{resourceBundle['transactions.none']}}</p>
              </div>
            </div>
          </div>
      </div>
    </div>
</div>
