<!DOCTYPE html>
<!--
  ~ Copyright © 2018 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->

<div ng-controller="ReturnTransactionCtrl">
    **myop: {{op}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>{{resourceBundle['returns']}} {{resourceBundle['for']}} {{mnm}}</b>
        </div>
        <div class="panel-body">
            <div ng-show="op=='edit'">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped table-codensed ">
                          <thead>
                          <tr>
                            <th class="col-sm-1 text-center">{{resourceBundle['serialnum']}}</th>
                            <th class="col-sm-2">{{transaction.type == 'ri' ? 'Issue' : 'Receipt'}}</th>
                            <th class="col-sm-2 text-center">{{resourceBundle['quantity']}}</th>
                            <th class="col-sm-1 required">{{resourceBundle['return.quantity']}}</th>
                            <th class="col-sm-0-5 text-center"></th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr ng-repeat="returnitem in returnitems">
                            <td><p class="text-center">{{$index + 1}}</p></td>
                            <td><p>{{returnitem.lknm}} On {{returnitem.ts}}</p></td>
                            <td><p class="text-center">{{returnitem.q}}</p>
                                <span class="litetext float-left" ng-show="material.isBatch">{{resourceBundle['batch']}}: {{returnitem.bid}}, {{resourceBundle['expiry']}}: {{returnitem.bexp}}</span>
                            </td>
                            <td><input type="text" class="form-control" maxlength="12" only-digits ng-model="returnitem.rq" ng-class="{'red-border': returnitem.rq > returnitem.q == true}"
                                       id="rq{{returnitem.id}}{{$index}}"
                                       uib-popover="{{returnitem.popupMsg}}"
                                       ng-focus="hidePopup(returnitem,$index,'rq')"
                                       ng-blur="validate(returnitem,$index,material)"
                                       popover-trigger="showpopup"/>
                              <div ng-show="returnitem.rq > 0" class="mt5">
                                <span class="litetext float-left" ng-class="{'required' : msm}" ng-show="(!material.ts && isDef(matstatus)) || (material.ts && isDef(tempmatstatus))">{{resourceBundle['inventory.material.status']}}</span>
                                <select ng-hide="material.ts || isUndef(matstatus)" ng-model="returnitem.rmst" class="form-control"
                                        uib-popover="{{returnitem.aPopupMsg}}"
                                        ng-blur="validate(returnitem,$index,material)"
                                        id="rmst{returnitem.id}}{{$index}}"
                                        popover-trigger="showpopup">
                                  <option ng-repeat="stats in matstatus track by $index" value="{{stats}}">{{stats || resourceBundle['select'] + " " + resourceBundle['status.lower']}}</option>
                                </select>
                                <select ng-show="material.ts && isDef(tempmatstatus)" ng-model="returnitem.rmst" class="form-control"
                                        uib-popover="{{returnitem.aPopupMsg}}"
                                        ng-blur="validate(returnitem,$index,material)"
                                        popover-trigger="showpopup">
                                  <option ng-repeat="stats in tempmatstatus track by $index" value="{{stats}}">{{stats || resourceBundle['select'] + " " + resourceBundle['status.lower']}}</option>
                                </select>
                                  <span class="litetext float-left" ng-class="{'required' : reasons.length > 0}">{{resourceBundle['reason']}}</span>
                                  <select ng-hide="reasons.length == 0" ng-model="returnitem.rrsn" class="form-control">
                                      <option ng-repeat="rsn in reasons track by $index" value="{{rsn}}">{{rsn || resourceBundle['select'] + " " + resourceBundle['reason.lowercase']}}</option>
                                  </select>
                              </div>
                            </td>
                              <td class="text-center">
                                  <a href="" ng-click="removeFromReturnItems(returnitem.sno);">
                                      <span class="glyphicons glyphicons-bin temp"></span>
                                  </a>
                              </td>
                          </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
                <div ng-show="(isUndef(returnitems) || returnitems.length == 0)" class="padding:10px">
                    <div class="col-sm-12">
                        <div>
                            <p class=" alert alert-warning mt18">{{resourceBundle['no.returns.to.edit']}}</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <button type="button" ng-click="saveEditedReturnTransactions($index)" class="btn btn-sm btn-primary">{{resourceBundle['save']}}</button>
                            <button type="button" class="btn btn-sm btn-default" ng-click="toggle($index);">{{resourceBundle['cancel']}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="op=='add'">
                <div ng-show="transactions.results.length > 0" class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <span class="filter-label">{{resourceBundle['from']}}</span>
                            <date-picker date-model="from" place-holder="From" min-date="minDate" max-date="today"></date-picker>
                        </div>
                        <div class="col-sm-3">
                            <span class="filter-label">{{resourceBundle['to']}}</span>
                            <date-picker date-model="to" place-holder="To" min-date="from" max-date="today"></date-picker>
                        </div>
                    </div>
                </div>
                <div ng-show="transactions.results.length > 0" class="row">
                    <div class="col-sm-12">
                        <div class="pull-right btn btn-sm btn-primary " ng-click="applyFilter()">{{resourceBundle['filter']}}</div>
                    </div>
                </div>
                <div ng-show="transactions.results.length > 0" class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <div class="pull-right pt10">
                                <div ng-include="'views/load-more-paginator.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="transactions.results.length > 0" class="row">
                  <div class="col-sm-12">
                    <table class="table table-striped table-codensed ">
                      <thead>
                      <tr>
                        <th class="col-sm-1 text-center">{{resourceBundle['serialnum']}}</th>
                        <th class="col-sm-2">{{transaction.type == 'ri' ? 'Issue' : 'Receipt'}}</th>
                        <th class="col-sm-2 text-center">{{resourceBundle['quantity']}}</th>
                        <th class="col-sm-1 required">{{resourceBundle['return.quantity']}}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="trans in transactions.results">
                        <td><p class="text-center">{{$index + 1}}</p></td>
                        <td><p>{{trans.lknm}} On {{trans.ts}}</p></td>
                        <td><p class="text-center">{{trans.q | number}}</p>
                            <span class="litetext float-left" ng-show="material.isBatch">{{resourceBundle['batch']}}: {{trans.bid}}, {{resourceBundle['expiry']}}: {{trans.bexp}}</span>
                        </td>
                        <td><input ng-disabled="isReturnEnteredForTransaction(trans.sno)" type="text" class="form-control" maxlength="12" only-digits ng-model="trans.rq"
                                   ng-class="{'red-border': trans.rq > trans.q == true}" id="rq{{trans.id}}{{$index}}"
                                   uib-popover="{{trans.popupMsg}}"
                                   ng-focus="hidePopup(trans,$index,'rq')"
                                   ng-blur="validate(trans,$index,material)"
                                   popover-trigger="showpopup"/>

                            <div ng-show="trans.rq > 0" class="mt5">
                            <span class="litetext float-left" ng-class="{'required' : msm}" ng-show="(!material.ts && isDef(matstatus)) || (material.ts && isDef(tempmatstatus))">{{resourceBundle['inventory.material.status']}}</span>
                            <select ng-hide="material.ts || isUndef(matstatus)" ng-model="trans.rmst" class="form-control"
                                    uib-popover="{{trans.aPopupMsg}}"
                                    ng-blur="validate(trans,$index,material)" id="rmst{trans.id}}{{$index}}"
                                    popover-trigger="showpopup">
                              <option ng-repeat="stats in matstatus track by $index" value="{{stats}}">{{stats || resourceBundle['select'] + " " + resourceBundle['status.lower']}}</option>
                            </select>
                            <select ng-show="material.ts && isDef(tempmatstatus)" ng-model="trans.rmst" class="form-control"
                                uib-popover="{{trans.aPopupMsg}}"
                                ng-blur="validate(trans,$index,material)"
                                id="rmst{{trans.id}}{{$index}}"
                                popover-trigger="showpopup">
                                <option ng-repeat="stats in tempmatstatus track by $index" value="{{stats}}">{{stats || resourceBundle['select'] + " " + resourceBundle['status.lower']}}</option>
                            </select>
                            <span ng-hide="reasons.length == 0" class="litetext float-left" ng-class="{'required' : reasons.length > 0}">{{resourceBundle['reason']}}</span>
                            <select ng-hide="reasons.length == 0" ng-model="trans.rrsn" class="form-control">
                                <option ng-repeat="rsn in reasons track by $index" value="{{rsn}}">{{rsn || resourceBundle['select'] + " " + resourceBundle['reason.lowercase']}}</option>
                            </select>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="pull-right">
                      <button ng-click="saveReturnTransactions($index);" class="btn btn-sm btn-primary">{{resourceBundle['save']}}</button>
                      <button ng-click="toggle($index);" class="btn btn-sm btn-default">{{resourceBundle['close']}}</button>
                    </div>
                  </div>
                </div>
            <div ng-show="transactions.results.length == 0 && !loading" class="row">
                <div class="col-sm-12">
                  <div>
                    <p class=" alert alert-warning mt18">{{resourceBundle['transactions.none']}}</p>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
