<!--
  ~ Copyright © 2017 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->

<table
        class="table table-condensed table-hover table-striped table-logistimo" id="fixTable">
  <thead>
    <tr>
      <th><input type="checkbox"  ng-change="selectAll(selAll)" ng-model='$parent.selAll'></th>
      <th>{{resourceBundle.serialnum}}</th>
      <th>{{resourceBundle.name}}</th>
      <th>{{resourceBundle['phone.number']}}</th>
      <th>{{resourceBundle.type}}</th>
      <th>{{resourceBundle['lastupdated']}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="transporter in $parent.filtered = transporters">
      <td><input ng-if="currentDomain == transporter.sdid" type="checkbox" ng-model="transporter.selected"></td>
      <td>{{transporter.sno}}</td>
      <td class="word-break"><a href="#/setup/transporters/all/detail/{{transporter.id}}">{{transporter.name}}</a></td>
      <td>{{transporter.phnm}}</td>
      <td>{{getTransporterTypeDisplayName(transporter.type)}}</td>
      <td class="text">
        <a href="#setup/users/all/details?userId={{transporter.udby}}" target="_blank">{{transporter.udbyn}}</a>
        <span class="litetext">{{transporter.t}}</span>
      </td>
      <td><a ng-show="currentDomain == transporter.sdid && iAdm && !dp.vp"
             ng-href="#/setup/transporters/all/edit?tid={{transporter.id}}"
             uib-tooltip="{{resourceBundle['edit']}}"><span class="glyphicons glyphicons-edit tglyph"></span></a></td>
    </tr>
  </tbody>
</table>