<!DOCTYPE html>
<!--
  ~ Copyright © 2017 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->

<div class="tab pane">
    <div class="box topbox">
        <div ng-controller="DashboardListingController">
            <div ng-show="dashboards.length > 0">
                <div class="row">
                    <div class="col-sm-8">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th class="col-sm-1">S.No</th>
                                <th class="col-sm-4">Dashboard</th>
                                <th class="col-sm-1">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(id, dashboard) in dashboards">
                                <td>{{$index + 1}}</td>
                                <td>{{dashboard.name}}</td>
                                <td>
                                    <a href="#configuration/dashboards/view/{{dashboard.dbId}}"><span class="glyphicon glyphicon-th-large" title="View"></span></a>&nbsp;&nbsp;
                                    <a href="#configuration/dashboards/detail/{{dashboard.dbId}}"><span class="glyphicon glyphicon-cog" title="Configure"></span></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div ng-show="dashboards.length == 0">
                <div class="row mt18">
                    <div class="col-sm-12">
                        <p class=" alert alert-warning">
                            No dashboards configured</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>