<html>
<body>
Dear Team,<br/>

<p> Application: ${appName}
</p>

<p>
    <b>User:</b> ${userName}&nbsp;(${userId},&nbsp;${mPhone}#if(${eMail}),&nbsp;${eMail}#end)
</p>

<p>
    <b>Domain: </b>${domain}
</p>

<p>
    <b>Feedback:</b>
    ${message}
</p>

</body>
</html>