<!DOCTYPE html>
<!--
  ~ Copyright © 2018 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->

<div class="modal-header ws">
  <h3 class="modal-title">{{resourceBundle['open.transfers']}}</h3>
</div>
<div class="panel-body ws" style="background: #ffffff">
  <div class="row">
    <div class="col-sm-12">
      <div class="outer">
        <table class="table table-striped table-condensed table-hover table-logistimo">
          <thead>
            <th ng-hide="dp.vp"></th>
            <th>{{resourceBundle['approvals.transfer']}} {{resourceBundle['id']}}</th>
            <th>{{resourceBundle['customer']}}</th>
            <th>{{resourceBundle['vendor']}}</th>
            <th>{{resourceBundle['items']}}</th>
          </thead>
          <tbody>
          <tr ng-repeat = "transfer in recommendation.open_transfers">
            <td ng-hide="dp.vp"><input type="checkbox" ng-model="transfer.selected"></td>
            <td><a href="#/orders/transfers/detail/{{transfer.orderId}}/">{{transfer.orderId}}</a><span class="litetext">{{transfer.created_at | formatDate:this}}</span></td>
            <td><a href="#/setup/entities/detail/{{transfer.customer.id}}/">{{transfer.customer.name}}<span class="litetext">{{transfer.customer.address}}</span></a></td>
            <td><a href="#/setup/entities/detail/{{transfer.vendor.id}}/">{{transfer.vendor.name}}<span class="litetext">{{transfer.vendor.address}}</span></a></td>
            <td>{{transfer.num_items}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer ws">
  <button ng-hide="dp.vp" class="btn btn-primary" ng-click="addToTransfer()">{{resourceBundle['prm.add']}}</button>
  <button class="btn btn-default" ng-click="cancel()">{{resourceBundle['cancel']}}</button>
</div>